.accordion-button{
    border-bottom: 1px solid #ced4da !important;
}
.animate-enter {
    opacity: 0;
  }
  
  .animate-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .animate-exit {
    opacity: 1;
  }
  
  .animate-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }